/* styles.css */

body {
    margin: 0;
    padding: 0;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-brand {
    color: #5a5a5a;
}

.navbar-toggle {
    border-color: #ddd;
}

.icon-bar {
    background-color: #888;
}

.navbar-nav > li > a {
    color: #5a5a5a;
}

.navbar-nav > li > a:hover {
    color: #333;
    background-color: #f2f2f2;
}

.text-center {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section {
    height: 1000px; /* To make the section tall */
    background-color: #e7e7e7; /* Background color for contrast */
    padding: 2%;
}

.section p {
    text-align: center;
    font-size: 1.2em;
}

.box {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
